<!doctype html>
<html>
  <head>
    <title>StockSense AI</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <body>
    <div class="container">
      <h1>📈 StockSense AI Dashboard</h1>

      <div class="buttons">
        <a href="/top20"> Top20 </a>

        <a href="/top50"> Top50 </a>

        <a href="/top100"> Top100 </a>

        <a href="/summary"> Model Summary </a>
      </div>

      <div class="card">
        <h2>Popular Companies</h2>

        <a href="/company/TSLA"> TSLA </a>

        <br /><br />

        <a href="/company/AAPL"> AAPL </a>

        <br /><br />

        <a href="/company/MSFT"> MSFT </a>

        <br /><br />

        <a href="/company/NVDA"> NVDA </a>
      </div>
    </div>
  </body>
</html>
