<!doctype html>
<html>
  <head>
    <title>Stock Dashboard</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>📊 Stock Dashboard</h1>

      <div class="card">
        <h2>Fetch Stock Data</h2>
        <div class="buttons">
          <a href="/fetch/TSLA">TSLA</a>
          <a href="/fetch/AAPL">AAPL</a>
          <a href="/fetch/MSFT">MSFT</a>
          <a href="/predict">Predict Price</a>
          <a href="/forecast">30-Day Forecast</a>

          <a href="/comparison">Compare Models</a>
        </div>
      </div>

      <div class="card">
        <h2>Database</h2>
        <div class="buttons">
          <a href="/stocks">View Stored Data</a>
        </div>
      </div>

      <div class="card">
        <h2>📈 Monthly Graph</h2>
        <img src="{{ url_for('static', filename='graph.png') }}?v=2" />
      </div>
    </div>
  </body>
</html>
